<div class="row">
  <div class="col-md-6">
    <div class="input-group search-group">
      <%= form_for products_path, method: :post, html: {class: "search-form"} do %>
        <%= text_field :product, :query, class: "form-control" %>
        <span class="input-group-btn">
        <%= submit_tag "Search", class: "btn btn-secondary" %>
      </span>
      <% end %>
    </div>
  </div>
  <div class="col-md-6" style="text-align: center">
    <% @urls.each do |url| %>
      <%= link_to product_path url.id do %>
        <h2 class="products-block"><%= url.name %></h2>
        <img src="<%= url.image %>" alt="">
      <% end %>
      <br>
      <a href="<%= url.url %>"><%= url.url %></a>
      <hr>
    <% end %>
    <%= paginate @urls %>
  </div>
</div>